<html>
  <body>
    {# Comentario #}
    {% comment %}      <--- Esto es un comentario multilínea
        Comentario1
        Comentario2
    {% endcomment %}
    {% include "barra.html" %}
    <h1>La persona se llama: {{nombre_persona}} {{ apellido_persona }}</h1>
    <p>La fecha actual es {{fecha_actual.day}}</p>
    <p>{{ nombre_persona.nombre | upper }}</p>
    <p>La lista de los temas es:</p>
    
    <ul>
      {% if temas %} 
         {% for tema in temas %}
            <li>{{ tema }}</li>
         {% endfor %}
     {% else %}
         <li>No hay temas</li>
     {% endif %}
    </ul>
  </body>
</html>